<form method="post" action="@Url.Action("LogIn")">
    <div>
        <label for="UserName">Username: </label>
        <input type="text" name="UserName" required>
    </div>
    <div>
        <label for="PassWord">Password: </label>
        <input type="password" name="PassWord" required>
    </div>
    <div>
        <input type="submit" value="LogIn">
    </div>
</form>